
/* HITE THEME */

/* Taken from the default theme in codemirror.css and slightly modified */

.negative {color: #d44;}
.positive {color: #292;}
.link {text-decoration: underline;}
.strikethrough {text-decoration: line-through;}

.cm-s-hite .keyword {color: #708;}
.cm-s-hite .atom {color: #219;}
.cm-s-hite .number {color: #164;}
.cm-s-hite .def {color: #00f;}
.cm-s-hite .variable,
.cm-s-hite .punctuation,
.cm-s-hite .property,
.cm-s-hite .operator {}

.cm-s-hite .codeblock-text.comment {color: #48B54D;}
.cm-s-hite .m-markdown.codeblock-text.comment {color: inherit;}
.cm-s-hite .codeblock-focused .codeblock-text.comment {color: inherit;}

.cm-s-hite .variable-3 {color: #085;}
.cm-s-hite .string {color: #a11;}
.cm-s-hite .string-2 {color: #f50;}
.cm-s-hite .meta {color: #555;}
.cm-s-hite .qualifier {color: #555;}
.cm-s-hite .builtin {color: #30a;}
.cm-s-hite .bracket {color: #997;}
.cm-s-hite .tag {color: #170;}
.cm-s-hite .attribute {color: #00c;}
.cm-s-hite .hr {color: #999;}
.cm-s-hite .link {color: #00c;}
.cm-s-hite .error {color: #f00;}

.cm-s-hite .math-cursor-highlight {
    fill: #d7d4f0;
}